src/main/mule/cicddemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8a66b15e-a998-4710-8ec2-82ac5fbdaffa" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicddemoFlow" doc:id="51d82640-37b5-44bf-8110-26e9a422643d" >
		<http:listener doc:name="Listener" doc:id="b1424fe6-428f-4fd7-b31a-b6ece23bedf3" config-ref="HTTP_Listener_config" path="/cicddemo"/>
		<set-payload value='#["Hello from my CICD demo"]' doc:name="Set Payload" doc:id="f53d66bc-1fef-4f44-b879-9d416687a182" />
		<logger level="INFO" doc:name="Logger" doc:id="2345dce9-4868-445e-96d0-6adaf2cf4473" />
	</flow>
</mule>
